.number {
  font-size: 3rem;
}

.userShelvesContainer {
  margin-top: 3rem;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
}

.userShelvesContainer__child {
  flex: 1 0 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.userShelvesContainer__child > :first-child {
  color: black;
  font-size: 3rem;
  padding-bottom: 1rem;
  flex: 1;
}

.userShelvesContainer__child > :nth-child(2) {
  padding-bottom: 1.5rem;
  font-size: 1rem;
  flex: 1;
  /* margin-bottom: 0; */
}

.tabby {
  width: 90%;
}

.tabby > a {
  flex: 1;
}

.tabby > :first-child {
  display: flex;
  justify-content: space-evenly;
}
.tabby > :nth-child(even) {
  border: none;
}

.tabPane {
  border: none;
}
ui bottom attached segment active tab {
  border: none;
}

.cardGroup {
  justify-content: space-between;
}

.cardGroup::after {
  content: "";
  width: 33%;
  height: 0;
}
